<h1><%= @game.name %></h1>

<section>
  <p>Add yourself to the game with a random civilization.</p>

<%= form_tag("#{@game.id}/players", method: "post") do %>
    <%= select_tag('Players', options_from_collection_for_select(@players, 'id', 'name')) %>
    <%= hidden_field_tag('game', "#{@game.id}") %>
    <%= submit_tag("Get Assigned A Random Civ!") %>
  <% end %>
</section>

<section>
  <h2>Current Players</h2>

  <ul>
    <% @game.players.each do |player| %>
      <li><%= player.name %> - <%= player.civilizations.map(&:name) %></li>
    <% end %>
  </ul>
</section>

<h2 id="admin-heading">ADMIN AREA LEAVE THIS ALONE</h2>
<section id='admin' style="display:none">

<section>
  <h2>Banned Civilizations</h2>
  <p>Ban a civilization from this game.</p>
  <p>Note: you cannot ban an already chosen civilization.</p>

  <ul>
    <% @game.game_civilizations.banned.each do |banned| %>
      <li><%= banned.civilization.name %></li>
    <% end %>
  </ul>

  <%= form_tag("/games/#{@game.id}/civilization", method: "patch") do %>
    <%= label_tag(:q, "Civ ID") %>
    <%= collection_select(:civ, 'id', @available_civs, :id, :name) %>
    <%= hidden_field_tag('status', 'banned') %>
    <%= submit_tag("Ban!") %>
  <% end %>
</section>

<script>
  $('#admin-heading').click(function(){
    $('#admin').toggle('slow');
  });
</script>
